* {
  all: unset;
}

title,
script {
  display: none;
}

main,
section,
article,
header,
footer,
aside {
  display: block;
}

h1 {
  font-weight: 900;
}

h3 {
  font-weight: 500;
  font-size: 1.5em;
}

main {
  width: 100%;
  text-align: center;
}

section {
  width: 90%;
  margin: auto;
  position: relative;
}

header {
  padding: 45px 0 15px;
}

.input_text {
  border: 2px solid silver;
  border-radius: 5px;
  text-align: left;
  padding: 5px 5px 5px;
  font-weight: 600;
}

.input_text:focus {
  border-color: #558ab7;
  box-shadow: 0 0 10px #9ed4ff;
}

.input_checkbox {
  border: 1px solid black;
  min-width: 10px;
  min-height: 10px;
  box-shadow: inset 1px 1px 0 black;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
}

.input_checkbox.checked {
  background-color: blue;
}

.input_checkbox.checked::after {
  content: "V";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 11px;
  font-weight: 900;
}

.btn {
  border: 2px solid silver;
  border-radius: 5px;
  padding: 5px 5px 5px;
  cursor: pointer;
  color: silver;
}

.btn:active {
  border-color: black;
  color: black;
  box-shadow: 3px 3px 3px black;
}
